In [34]:
import numpy as np
import pandas as pd

In [35]:
import torch
from torch import nn, optim
import torch.nn.functional as F
from torch.utils.data import Dataset, DataLoader

from torchvision import transforms, utils, datasets

In [36]:
path = '../titanic/train.csv'

data = pd.read_csv(path)
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [44]:
num_cols = [
    'Pclass',
    'Age',
    'SibSp',
    'Parch',
    'Fare',

]

cat_cols = [
    'Sex',
    'Embarked',
]

target_col = 'Survived'

X = data[num_cols + cat_cols]
y = data[target_col]

In [46]:
t = torch.tensor(
    ['a', 'b', 'c']
)

ValueError: too many dimensions 'str'

In [38]:
device = torch.device("cuda") if torch.cuda.is_available() else torch.device("cpu")
device

device(type='cuda')

For validation of network I'll need to separate data into train and test

In [42]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_val, y_train, y_val = train_test_split()

In [ ]:
# batch_size = 8

# transform = transforms.Compose(
#         [
#         transforms.ToTensor(),
#         transforms.Normalize((0.5, 0.5, 0.5), (0.5, 0.5, 0.5)),
#         ]
# )

# trainloader = torch.utils.data.DataLoader(trainset, batch_size=batch_size,
#                                         shuffle=True, num_workers=2)
                                        
# testloader = torch.utils.data.DataLoader(testset, batch_size=batch_size,
#                                         shuffle=False, num_workers=2)